/* nav{
    width: 100%;
    background-color: #F8F9FA;
 
} */
nav ul{
    display: flex;
gap: 10px;
}

.nav-container{
    width: 100%;
    /* display: flex; */
    flex-direction:row;
    justify-content: center;
}

.shop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;

}
header{
    width: 100%;
    height: 30vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 37px;
    justify-content: center;
    align-items: center;

}
header p{
    color: gray;
    font-size: 24px;

}
.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 {; grid-area: 1 / 1 / 2 / 2;border: 1px solid black; }
    .div2 { grid-area: 1 / 2 / 2 / 3;border: 1px solid black; }
    .div3 { grid-area: 1 / 3 / 2 / 4;border: 1px solid black; }
    .div4 { grid-area: 1 / 4 / 2 / 5;border: 1px solid black; }
    .div5 { grid-area: 2 / 1 / 3 / 2;border: 1px solid black; }
    .div6 { grid-area: 2 / 2 / 3 / 3;border: 1px solid black; }
    .div7 { grid-area: 2 / 3 / 3 / 4;border: 1px solid black; }
    .div8{ grid-area: 2 / 4 / 3 / 5;border: 1px solid black; }